.primary-button {
  background-color: #5b5bf6;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.primary-button:hover {
  background-color: #4a4ae1;
}
